---
BasedOnStyle: Webkit
##
AllowShortBlocksOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
BreakConstructorInitializers: AfterColon
EmptyLineBeforeAccessModifier: Always
EnumTrailingComma: Insert
IndentWidth: 8
KeepEmptyLines:
	AtStartOfFile: false
NamespaceIndentation: All
SeparateDefinitionBlocks: Always
SpaceBeforeRangeBasedForLoopColon: false
UseTab: Always
##
KeepEmptyLinesAtTheStartOfBlocks: false
InsertNewlineAtEOF: true
...
