---
BasedOnStyle: Webkit
##
AllowShortBlocksOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Always
EmptyLineBeforeAccessModifier: Always
IndentWidth: 8
KeepEmptyLines:
  AtStartOfFile: false
NamespaceIndentation: All
SeparateDefinitionBlocks: Always
SpaceBeforeRangeBasedForLoopColon: false
UseTab: Always
##
KeepEmptyLinesAtTheStartOfBlocks: false
InsertNewlineAtEOF: true
...
